/* global Items */

*{
    margin: 0;
    padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #30B868;
    width: 164px;
    height: 44px;
    color: #FFFFFF;
    border: none;
    font-weight: 600;
    border-radius: 4px;
}


header .nav-container{
    width: 91%;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: flex;
    gap: 32px;
}

.nav-item li{
    list-style-type: none;
}
.nav-item li a {
    text-decoration: none;
    color: #001931;
}